* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gardient(#b7328d, #ac18c0);
}

.container {
    border: solid 1px rgba(0, 0, 0, 0.9);
}

table {
    color: #333;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead, tr, th {
    padding: 15px;
    border-bottom: solid #333;
    color: gray;
    border: 1px solid #333;
}

th {
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid #333;
    vertical-align: top;
    border: 1px solid #000;
}
tr, th {
    padding: 15px;
    border-bottom: solid #333;
    background: #E6F3FF;
}

tbody tr {
    background: #FFFFCC;
}

tr:nth-child(even){
    background-color: white;
}
 img {
    width: 30px;
    height: 30px;
}
